/* Start global Rules */
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
/* Start Variables*/
:root{
--mainColor: #4caf50;
--seconderyColor:#3f4253;
--sectionPadding:60px;
--sectionBgColor:#f6f6f6
}
/* End Variables*/
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    
    padding-left: 15px;
    padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
/*small*/

@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/*midium*/
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/*larg*/
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End global Rules عناصرمكرره*/
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
        
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/*Start componants*/

/*end componants*/
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
    cursor: pointer;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2) {
 height: 3px;
 width: 60%;
 transition: 0.3s;
}
.header .links .icon span:last-child {
height: 3px;
width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% + 15px);
    display: none; 
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links.open ul {
    display: block;
   
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
border-bottom: 1px solid #ddd;
}
/* end header */
/*start landing section*/
.landing {
    background-image: url(../images/landing_1.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .fa-angle-right,
.landing .fa-angle-left {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.landing .fa-angle-right {
    right: 40px;
}
.landing .fa-angle-left {
    left: 40px;
}
.landing .fa-angle-right.unactive,
.landing .fa-angle-left.unactive {
    color: #555555;
    cursor: no-drop;
}
.landing .intro-text {
position: absolute;
left: 50%;
top: 50%;
text-align: center;
transform: translate(-50%,-50%);
width: 320px;
max-width: 100%;

}
.landing .intro-text h1{
    margin: 0;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 26px;
    line-height: 1.8;
    color: var(#4caf50);
}
@media (max-width:768px) {
    .landing .intro-text p {
        font-size: 19px;
    }
}
.landing .slider-ul {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .slider-ul .bullet {
    list-style:none;
    width:25px;
    height:25px;
    border:3px solid #ffffff;
    border-radius:50%;
    margin: 7px;
    cursor: pointer;
}
.landing .slider-ul .bullet.active {
    background-color: var(--mainColor);
}
/*end landing section*/
/* start features */
.features {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBgColor);
   
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--mainColor);
}
.features .feat h3 {
font-weight: 800;
margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #5d5b5b;
    font-size: 16px;
}
.scroll-totop {
    width: 45px;
    height: 45px;
    background-color: #146ff0;
    position:fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    
}
.scroll-totop a {
    text-decoration: none;
    line-height: 2.5;
    font-weight: bold;
    color: white;
   
}
/* end features */
/*start sevices*/
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:30px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--mainColor);
     flex-basis: 60px;
}
.services .services-content .srv .text {
    flex:1;
}
.services .services-content .srv .text h3 {
margin: 0 0 20px;
}
.services .services-content .srv p {
color: #444;
font-weight: 300;
line-height: 1.6;
}
.services .services-content .image {
    position: relative;
    text-align: center;  
}
.services .services-content .image::before {
    content: "";
    content: "";
    width: 35%;
    height: 120%;
    background-color: var(--seconderyColor);
    position: absolute;
    top: -11%;
    right: -13%;
    z-index: -1;
}
@media (max-width: 1199px) {
    .services .services-content .image img {
        display: none;
    }
}
/*end sevices*/
/*start portfolio*/
.portfolio {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBgColor);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding:20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin: 0;
}
/*end portfolio*/
/* start about*/
.about {
    padding-top: var(--sectionPadding);
    padding-bottom: calc(var(--sectionPadding) + 60px);
    
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
content: "";
position: absolute;
top: -40px;
left: -20px;
z-index: -1;
background-color: #ebeced;
width: 100px;
height: calc(100% + 80px);

}
.about .about-content .image::after {
    content: "";
    position: absolute;
    right: -150px;
    top: -40px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--mainColor);
    border-bottom: 80px solid var(--mainColor);
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
font-weight: bold;
line-height: 2;
margin-bottom: 50px;
}
.about .about-content .text hr {
display: inline-block;
width: 50%;
border-color: var(--mainColor);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* end about*/
/* start contact*/
.contact {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBgColor);
}

.contact .info {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    text-align: center; 
}
.contact .info .label {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: var(--seconderyColor);
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--mainColor);
    text-decoration: none;
}
.contact .info .social {
    color: var(--seconderyColor);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.contact .info .social i {
    overflow: hidden;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    margin-left: 10px;
    margin-left: 15px;
    background-color: var(--mainColor);
    color: #fff;
    font-size: 20px;
    border: 1px solid var(--seconderyColor);
}
@media (max-width:767px) {
    .contact .info .label,
    .contact .info .link{
        font-size: 20px;
    }
}

/* end contact*/
/* Start footer*/
.footer {
    background-color: var(--seconderyColor);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    color: var(--mainColor);
    font-weight: bold;
}
/* end footer*/


